@import "./color.scss";

.header{
    height: 4rem;
    width: 100%;
    background-color: $background;
    display: flex;
    justify-content: space-around;

    div{
        justify-content: center;
        padding: 1rem;
    }

    article{
        display: flex;
        justify-content: space-around;
        width: 50vw;

        a{
            margin: auto 0;
            font-size: large;
        }

        a:hover{
            color:$hover-color;
        }
    }
    .smScreenHeader{
        display: none;
    }

}

h1{
    color: $font-color;
}

a{
    color: $font-color;
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .header{
        
        div{

        display: flex;
        align-items: center;

        h1{
            font-size: 1.2rem !important;
        }
    }

    article{

        a{
            font-size: 0.6rem;
            margin-left: 3px;
            margin-right: 3px;
        }
    }
}
    
}

@media screen and (max-width: 400px){

    .header{

        article{
            display: none;
        }
        .smScreenHeader{
            display: flex;
            justify-content: space-around;
            padding: 1rem;
            width: 11rem;

            button{
                background: transparent;
                border: none;
                outline: none;

                svg{
                    color: white;
                }
            }
            
        }

    }

}

.header{
    .MenuContent{
        position: absolute;
        margin-top: 3rem;
        margin-left: 9rem;
        display: flex;
        flex-direction: column;
        border: 2px solid white;
        background-color: white;
        border-radius: 1rem;

        
        a{
            color: black;
            margin-top: 1rem;
        }
    }
}